:root {
    --clr-primary-800: #040849;
    --clr-primary-750: #1d215b;
    --clr-primary-700: #405793;
    --clr-primary-600: #645df6;
    --clr-primary-550: #bbbcce;
    --clr-primary-500: #e4e7fa;
    --clr-primary-400: #f8f8f8;
    --clr-primary-300: #f6f7fd;
    --clr-secondary-800: #00c2bb;
    --clr-accent-800: #ff4c91;
    --clr-grey-800: #4a4a4a;
    --clr-grey-500: #cecece;
    --font-muli: "Mulish", sans-serif;
    --default-radius: 5px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    font-family: inherit;
}

body {
    box-sizing: border-box;
    font-family: var(--font-muli);
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.header {
    height: 3.75rem;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    padding-inline: 2rem;
    border-bottom: 1px solid var(--clr-grey-500);
}

    .header .logo {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: var(--clr-primary-800);
        text-transform: uppercase;
        font-size: 1.125rem;
        font-weight: 700;
    }

    .header .hamburger {
        border: 0;
        outline: 0;
        background: transparent;
        margin-left: 1rem;
    }

        .header .hamburger i {
            font-size: 2rem;
        }

    .header .page-title {
        font-weight: bold;
        font-size: 1.625rem;
        text-align: center;
        color: var(--clr-primary-700);
        flex: 1;
    }

    .header .notification {
        font-size: 1.5rem;
        position: relative;
    }

    .header .notification__badge {
        position: absolute;
        top: 5px;
        right: 0;
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 100%;
        display: block;
        background-color: var(--clr-accent-800);
    }

    .header .profile {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border-left: 1px solid var(--clr-primary-500);
        padding-left: 1rem;
        margin-left: 1rem;
    }

    .header .profile__dp {
        border-radius: 100%;
        overflow: hidden;
        display: grid;
        place-content: center;
    }

.sidebar-collapsed .sidebar {
    width: 4rem;
}

    .sidebar-collapsed .sidebar:hover {
        width: 16.25rem;
    }

        .sidebar-collapsed .sidebar:hover .nav__link .label {
            display: block;
        }

.sidebar-collapsed .nav__link .label {
    display: none;
}

.sidebar-collapsed .nav__item.active::after,
.sidebar-collapsed .nav__item::after {
    display: none;
}

.sidebar {
    width: 16.25rem;
    background-color: var(--clr-primary-800);
    height: 100%;
    color: var(--clr-primary-800);
    transition: width 0.15s ease;
}

    .sidebar .nav {
        color: var(--clr-primary-550);
    }

    .sidebar .nav__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 1.5rem;
        width: 100%;
        padding-left: 0;
    }

    .sidebar .nav__item {
        width: 100%;
        position: relative;
        overflow: hidden;
    }

        .sidebar .nav__item::after {
            content: " ";
            position: absolute;
            top: 50%;
            right: 0;
            aspect-ratio: 1;
            height: 50%;
            background-color: var(--clr-primary-400);
            display: block;
            border-radius: 2px;
            transform: translateX(125%) translateY(-50%) rotate(45deg);
            transition: transform 0.3s ease;
        }

        .sidebar .nav__item.active {
            background-color: var(--clr-primary-750);
            color: white;
        }

            .sidebar .nav__item.active::after {
                transform: translateX(65%) translateY(-50%) rotate(45deg);
            }

            .sidebar .nav__item.active .nav__icon {
                background-color: var(--clr-primary-600);
            }

            .sidebar .nav__item.active .nav__link {
                color: white;
            }

        .sidebar .nav__item:hover {
            background-color: var(--clr-primary-750);
        }

    .sidebar .nav__link {
        cursor: pointer;
        text-decoration: none;
        color: inherit;
        padding: 0.625rem 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.625rem;
        color: var(--clr-primary-550);
        white-space: nowrap;
    }

    .sidebar .nav__icon {
        display: grid;
        place-content: center;
        background-color: var(--clr-primary-750);
        min-width: 2rem;
        height: 2rem;
        border-radius: 3px;
        transition: background-color 0.2s ease;
    }

.main-wrap {
    display: flex;
    height: calc(100vh - 3.75rem);
    background-color: var(--clr-primary-400);
}

.content {
    width: 100%;
    height: 100%;
    padding-block: 2rem;
    padding-inline: 1.25rem;
}

.content-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .content-control .searchbar {
        width: 23rem;
        margin-right: 1rem;
    }

    .content-control > div {
        display: flex;
        align-items: center;
    }

    .content-control .utility-btns {
        display: flex;
        align-items: center;
        border-right: 1px solid var(--clr-primary-500);
        padding-right: 1rem;
        margin-right: 1rem;
        gap: 1rem;
    }

.searchbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 0;
    outline: none;
    border: 1px solid var(--clr-grey-500);
    border-radius: var(--default-radius) !important;
    padding-inline: 0.5rem;
    min-height: 2.25rem;
}

    .searchbar:focus-visible, .searchbar:focus-within {
        border: 1px solid var(--clr-primary-600);
        box-shadow: 0 0 4px 0 var(--clr-primary-600);
    }

.searchbar__input {
    outline: none;
    flex: 1;
    border: 0;
    height: 100%;
    background-color: transparent;
}

.search-btn {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: var(--default-radius);
    outline: 0;
    border: 0;
    border: 1px solid var(--clr-grey-500);
    font-size: 1.5rem;
}

.btn-primary {
    border-radius: var(--default-radius);
    min-width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    outline: 0;
    border: 0;
    border: 1px solid var(--clr-primary-500);
    background: transparent;
    min-height: 2.25rem;
    color: var(--clr-primary-600);
    font-weight: 700;
    padding-inline: 1rem;
    line-height: 1;
    font-size: 0.8125rem;
    box-shadow: -3px 3px 10px 0 rgba(0, 0, 0, 0.1);
}

    .btn-primary i {
        font-size: 1rem;
    }

.btn-primary-neutral {
    border: 1px solid rgba(206, 206, 206, 0.5);
    color: var(--clr-grey-800);
}

.dropdown-toggle {
    background-color: white !important;
    color: var(--clr-grey-800);
    border: 1px solid var(--clr-grey-500) !important;
    width: 100%;
    padding-block: 0.4rem !important;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
}

    .dropdown-toggle::after {
        margin-left: auto;
    }

    .dropdown-toggle:hover {
        color: var(--clr-grey-800) !important;
    }

    .dropdown-toggle:focus-visible, .dropdown-toggle[aria-expanded=true] {
        border: 1px solid var(--clr-primary-600) !important;
        border: 1px solid var(--clr-primary-600);
        box-shadow: 0 0 4px 0 var(--clr-primary-600);
        color: var(--clr-grey-800);
    }

.dropdown-menu {
    min-width: 100%;
    text-transform: capitalize;
}

.dropdown-item {
    font-size: 0.875rem;
}

.dropdown.context-menu .dropdown-toggle {
    display: grid;
    place-content: center;
    background-color: transparent;
    border: 0 !important;
}

    .dropdown.context-menu .dropdown-toggle::after {
        display: none;
    }

.dropdown.context-menu .dropdown-menu {
    left: unset;
    right: 0;
    width: -moz-max-content;
    width: max-content;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

    .input-group label {
        font-size: 0.8125rem;
    }

    .input-group input {
        font-size: 0.875rem;
        min-height: 2.25rem;
        border: 0;
        outline: none;
        border: 1px solid var(--clr-grey-500);
        border-radius: var(--default-radius) !important;
        padding-inline: 0.5rem;
        min-height: 2.25rem;
    }

        .input-group input:focus-visible {
            border: 1px solid var(--clr-primary-600);
            box-shadow: 0 0 4px 0 var(--clr-primary-600);
        }

.vline {
    width: 2px;
    background-color: var(--clr-primary-500);
    height: 100%;
}

.table-wrap {
    height: calc(100vh - 12.5rem);
    margin-top: 1.25rem;
}

.primary-table {
    width: 100%;
}

    .primary-table thead .dropdown.context-menu .dropdown-menu {
        right: 2rem !important;
    }

    .primary-table thead .dropdown.context-menu .dropdown-item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

        .primary-table thead .dropdown.context-menu .dropdown-item input[type=checkbox] {
            accent-color: var(--clr-primary-600);
            width: 1rem;
            height: 1rem;
            border-radius: 3px;
        }

    .primary-table thead .dropdown.context-menu .searchbar {
        margin-inline: 0.5rem;
    }

    .primary-table thead tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
        font-weight: bold;
        color: var(--clr-primary-800);
    }

    .primary-table tbody {
        color: var(--clr-primary-700);
    }

        .primary-table tbody tr {
            border-bottom: 1px solid var(--clr-primary-500);
        }

            .primary-table tbody tr:hover {
                background-color: var(--clr-primary-500);
            }

            .primary-table tbody tr:last-child {
                border-radius: 0 0 var(--default-radius) var(--default-radius);
            }

    .primary-table td,
    .primary-table th {
        padding: 0.6rem 1rem;
    }

        .primary-table th:last-child,
        .primary-table td:last-child {
            width: 3rem;
        }

            .primary-table th:last-child button,
            .primary-table td:last-child button {
                background: none;
                outline: 0;
                border: 0;
                width: 1.75rem;
                height: 1.75rem;
                border-radius: 100%;
                font-size: 1rem;
            }

                .primary-table th:last-child button:hover,
                .primary-table td:last-child button:hover {
                    background-color: var(--clr-grey-500);
                }

.pagination {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.pagination__count {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.pagination__index {
    display: flex;
    gap: 0.5rem;
    color: var(--clr-grey-800);
}

.pagination span {
    display: grid;
    place-content: center;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 100%;
    cursor: pointer;
}

    .pagination span:hover {
        border: 1px solid var(--clr-grey-500);
    }

    .pagination span.active {
        background-color: var(--clr-primary-600);
        color: white;
    }

.pagination__arrows {
    background-color: white;
    border: 1px solid var(--clr-grey-500);
}

.drawer {
    position: fixed;
    inset: 0;
    color: var(--clr-grey-800);
    z-index: -100;
    transition: all 0.3s ease;
}

    .drawer.active {
        z-index: 100;
    }

        .drawer.active .drawer__panel {
            transform: translateX(0);
        }

        .drawer.active .drawer__backdrop {
            opacity: 1;
            visibility: visible;
        }

.drawer__backdrop {
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
}

.drawer__panel {
    padding-block: 0.25rem;
    display: flex;
    flex-direction: column;
    width: 40%;
    position: absolute;
    transform: translateX(105%);
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border-radius: var(--default-radius) 0 0 var(--default-radius);
    transition: all 0.3s ease;
}

.drawer__header {
    display: flex;
    padding: 1rem 1.5rem;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-primary-500);
}

.drawer__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.125rem;
}

.drawer__content {
    padding: 1rem 1.5rem;
}

.drawer__footer {
    display: flex;
    align-items: center;
    margin-top: auto;
}

    .drawer__footer .footer-btn-wrap {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem 1.5rem;
        margin-left: auto;
    }

.drawer .drawer-close {
    background-color: transparent;
    border: 0;
    outline: none;
}

    .drawer .drawer-close i {
        font-size: 1.25rem;
    }

.grid-cols-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.col-span-full {
    grid-column: 1/-1;
}

.content-card {
    border-radius: var(--default-radius);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
}
/*# sourceMappingURL=main.css.map */
